{% if page.highlighted|render|striptags|trim is not empty %}
<aside class="l-highlighted">
  <div class="o-wrapper">
    {{ page.highlighted }}
  </div>
</aside>
{% endif %}

<div class="l-container">
  
  {% if page.navigation | render | striptags | trim is not empty %}
    <aside id="navigation" class="l-navigation c-smooth__layout">
      <div class="o-wrapper">
        <div class="c-smooth__layout__header">
          <div class="c-smooth__menu">
            <div class="c-smooth__menu__app-menu">
              {{ page.navigation }}
            </div>
          </div>
          <div class="c-smooth__layout__header__menu-icon"></div>
        </div>
      </div>
    </aside>
  {% endif %}

  <div class="l-master-header">
    
    {% if page.top|render|striptags|trim is not empty %}
      <aside class="l-top">
        <div class="o-wrapper">
          {{ page.top }}
        </div>
      </aside>
    {% endif %}
    
    <header id="header" class="l-header" role="banner">
      <div class="o-wrapper">
        {{ page.header }}
      </div>
    </header>
    
    {% if page.submenu|render|striptags|trim is not empty %}
    <div id="submenu" class="l-submenu" role="banner">
      <div class="o-wrapper">
        {{ page.submenu }}
      </div>
    </div>
    {% endif %}
  </div>
  
  {% if page.featured %}
    <div class="l-featured">
      {{ page.featured }}
    </div>
  {% endif %}

  <main class="l-main" role="main" id="main">
    
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      
    {% if page.pre_content|render|striptags|trim is not empty %}
      <div class="l-pre-content">
        {{ page.pre_content }}
      </div>
    {% endif %}
    
    <div class="l-content">
      <div class="o-wrapper">
        {{ page.help }}
        {{ page.content }}
      </div>
    </div>{# /.l-content #}
    
    {% if page.post_content|render|striptags|trim is not empty %}
    <div class="l-post-content">
      {{ page.post_content }}
    </div>
    {% endif %}
    
  </main>{# /.l-main #}

  {% if page.footer|render|striptags|trim is not empty %}
    <footer class="l-footer" role="contentinfo">
      <div class="o-wrapper">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.l-container #}
