<div class="l-container">
  
  {% if page.highlighted|render|striptags|trim is not empty %}
    <aside class="l-highlighted">
      <div class="o-wrapper">
        {{ page.highlighted }}
      </div>
    </aside>
  {% endif %}

  <div class="l-master-header">
    
    {% if page.top|render|striptags|trim is not empty %}
      <aside class="l-top">
        <div class="o-wrapper">
          {{ page.top }}
        </div>
      </aside>
    {% endif %}

    <header id="header" class="l-header" role="banner">
      <div class="o-wrapper">
        {{ page.header }}
      </div>
    </header>
  </div>

  {% if page.submenu|render|striptags|trim is not empty %}
    <div id="submenu" class="l-submenu" role="banner">
      <div class="o-wrapper">
        {{ page.submenu }}
      </div>
    </div>
  {% endif %}

  <main class="l-main" role="main">
    
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    
    {% if page.featured|render|striptags|trim is not empty %}
      <div class="l-featured">
        {{ page.featured }}
      </div>
    {% endif %}
      
    {% if page.pre_content|render|striptags|trim is not empty %}
      <div class="l-pre-content">
        {{ page.pre_content }}
      </div>
    {% endif %}
    
    <div class="l-content">
      {{ page.help }}
      {{ page.content }}
    </div>{# /.l-content #}
    
    {% if page.post_content|render|striptags|trim is not empty %}
    <div class="l-post-content">
      {{ page.post_content }}
    </div>
    {% endif %}
    
  </main>{# /.l-main #}

  {% if page.footer|render|striptags|trim is not empty %}
    <footer class="l-footer" role="contentinfo">
      <div class="o-wrapper">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.l-container #}
